<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
    <head>
        <title>BOOM Total Statistics</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            
                function drawChart() {

                    var arr = [['Time', 'Attention']];
                    var urlArr = [];

                    <%for(var i = 0; i < rows.length; i++){%>
                        var newarr = [];
                        var idx_url = [];
                        newarr.push(<%=rows[i].time.toDate().getTime()%>);
                        newarr.push(<%=rows[i].attendance%>);
                        arr.push(newarr);
                        var idx = <%=rows[i].time.toDate().getTime()%>;
                        var url = "<%=rows[i].fileID%>";
                        idx_url.push(idx);
                        idx_url.push(url);
                        urlArr.push(idx_url);
                    <%}%>

                    var data = google.visualization.arrayToDataTable(arr);

                    var options = {

                        title: 'Attention Gauge',
                        curveType: 'function',
                        legend: { position: 'bottom' }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                    function selectHandler() {
                        var selectedItem = chart.getSelection()[0];
                        if (selectedItem) {
                            var topping = data.getValue(selectedItem.row, 0);
                            var img = document.getElementById("myimg");
                            for(var i = 0; i < urlArr.length; i++){
                                if((urlArr[i][0] === topping) && (urlArr[i][1] != "")){
                                    img.src=urlArr[i][1];
                                    console.log("img");
                                    img.style.display = "block";
                                    break;
                                } else{
                                    console.log("notimg");
                                    img.style.display = "none";
                                }
                            }
                        }
                    }

                    google.visualization.events.addListener(chart, 'select', selectHandler);
                    chart.draw(data, options);
                    $(window).resize(function(){
                        drawChart();
                    })
                }
        </script>
    </head>
    <body class="is-preload">
        <div id="wrapper">
            <div id="main">
                <div class="inner">
                    <!-- Header -->
                    <header id="header">
                        <form name="h_form" action="/index" method="get" style="margin-left: 10px;" >
                            <a href="#" class="logo" onclick="h_form.submit()"><strong>Online Platform</strong> BOOM</a>
                        </form>
                        <form name="l_form" action="/logOut" method="get" style="margin-left: 10px;" >
                            <ul class="icons">
                                <a href="#" class="logo" onclick="l_form.submit()">Log Out</a>
                            </ul>
                        </form>
                    </header>
                    <!-- content -->
                    <section>
                        <header class="main">
                            <h1 align="center">Total Attention Gauge</h1>
                        </header>
                        <div class="blackboard">
                            <span class="image fit">
                                <img src="./images/png/043-blackboard.png">
                            </span>
                            <h2 align="center">Class <%=rows[1].lectureID%></h2>
                            <h3 align="center"><%=rows[1].time.toDate()%></h3>
                            <h4 align="center">Click on the chart to see the inattentives!</h4>
                        </div>
                        <div class="chartwrap">
                            <div id="curve_chart"></div>
                        </div>
                        <div class="imgwrap">
                            <h2 align="center">Moments</h2>
                            <img src="./images/pic01.jpg" id="myimg">
                        </div>
                    </section>
                </div>
            </div>
            <!-- Sidebar -->
            <div id="sidebar">
                <div class="inner">
                    <!-- Menu -->
                    <nav id="menu">
                        <header class="major">
                            <h2>Menu</h2>
                        </header>
                        <ul>
                            <li>
                                <a href="/index" type="submit" >Homepage</a>
                            </li>
                            <li>
                                <form action="/element" id="element" name="element"  style="margin: auto;">
                                    <a type="submit" onclick="ele_()">Make Class</a>
                                    <script>
                                        function ele_() {
                                            $('#element').submit();
                                        }
                                    </script>
                                </form>
                            </li>
                            <li><a href="/total" style=" font-weight : bold;">After Class</a></li>
                            <li>		
                                <span class="opener">Statistics</span>		
                                <ul>
                                    <li>		<!-- realtime 페이지는 가은. -->
                                        <form action="/realtime" id="realtime" name="realtime"  style="margin: auto;">
                                            <a type="submit" onclick="ele()">Real-Time</a>
                                            <script>
                                                function ele() {
                                                    $('#realtime').submit();
                                                }
                                            </script>
                                        </form>
                                    </li>
                                    <li>
                                        <form action="/history" id="history" name="history"  style="margin: auto;">
                                            <a type="submit" onclick="his()">History</a> <!--ele를 바꿔야할 듯-->
                                            <script>
                                                function his() { 
                                                    $('#history').submit();
                                                }
                                            </script>
                                        </form>
                                    </li>
                                    <li>
                                        <form action="/dailyreport" id="dailyreport" name="dailyreport"  style="margin: auto;">
                                            <a type="submit" onclick="day()">Daily Report</a> <!--ele를 바꿔야할 듯-->
                                            <script>
                                                function day() { 
                                                    $('#dailyreport').submit();
                                                }
                                            </script>
                                        </form>
                                    </li>
                                    <!--라우터?랑 연결하기--->
                                    <li>
                                        <form action="/byClass" id="byClass" name="byClass"  style="margin: auto;">
                                            <a type="submit" onclick="cla()">By Class</a> <!--ele를 바꿔야할 듯-->
                                            <script>
                                                function cla() { 
                                                    $('#byClass').submit();
                                                }
                                            </script>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- Footer -->
                    <footer id="footer">
                        <p class="copyright">&copy; 2021PeopleSpace TeamB. 우리이름나열?. 
                            GitHub Source: <a href="https://github.com/s0ye0nyang/peoplespace-group-B">GitHub</a>. 
                            Design: <a href="https://html5up.net">HTML5 UP</a>.
                        </p>
                    </footer>	
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>