<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Elements - BOOM by Group B</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="css/main.css" />
		

        <!--firebase, firestore 라이브러리-->
		<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
	</head>
	<body class="is-preload">
		<!-- 집중도 평균값들로 뭐하지?....-->
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">
					<!-- Header -->
					<header id="header">
						<form name="h_form" action="/index" method="get" style="margin-left: 10px;" >
						<a href="#" class="logo" onclick="h_form.submit()"><strong>Online Platform</strong> BOOM</a>
						</form>
						<dl  >
							<h1>Daily Report</h1>
						</dl>
						<form name="l_form" action="/logOut" method="get"  >
							<ul class="icons">
								<a href="#" class="logo" onclick="l_form.submit()">Log Out</a>
							</ul>
						</form>
						
					</header>

						

							<!-- Content -->
							<section>
								<header class="main">
									<div class="row">
										<div class="col-4 col-12-medium">
											<span class="image fit"><img src="images/png/013-certificate.png" alt="" /></span>
										</div>
										<div style="margin-top: 100px;">
										<h1 >Total Attention Gauge</h1>
										<h3>You can click the button to see the attention gauge history with charts!</h3>
										</div>
										</div></header>

										<!-- <div class="col-4 col-12-medium">
											<h3>Section</h3>
											<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit.</p>
										</div>
										<div class="col-4 col-12-medium">
											<h3>Date</h3>
											<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit.</p>
										</div> 
									</div>
								
												<div class="col-12">
													<select name="demo-category" id="demo-category">
														<option value="">- Category -</option>
														<option value="1">Manufacturing</option>
														<option value="1">Shipping</option>
														<option value="1">Administration</option>
														<option value="1">Human Resources</option>
													</select>
												</div>
												
												<div class="col-12">
													<input type="textfiled" id="Epilogue" />
													<button id="saveButton">Save</button>
													<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
												</div>
											</div>
										</form>
									</div>
								</div>
								</header>
							 -->
								<!--표-->
								<!-- Content -->
								<!-- <h1 >Total Attention Gauge</h1>
								<h3>You can click the button to see the attention gauge history with charts!</h3> -->

		

								<!--그래프-->
									
									
			<!--------------------------혜민님 데이터 코드--
							
								--------------------------------------------------------------------->
								
									<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
									<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
									<script type="text/javascript">

										google.charts.load('current', {'packages':['corechart']});

										function drawChart() {

											var arr = [['Time', 'Attention']];
											var urlArr = [];

											<%for(var i = 0; i < rows.length; i++){%>
												var newarr = [];
												var idx_url = [];
												newarr.push(<%=rows[i].time.toDate().getTime()%>);
												newarr.push(<%=rows[i].attendance%>);
												arr.push(newarr);
											<%}%>

											var data = google.visualization.arrayToDataTable(arr);
											
											var options = {

												title: 'Attention Gauge',
												curveType: 'function',
												legend: { position: 'bottom' }
											};

											var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
											
											chart.draw(data, options);

											var x = document.getElementById("curve_chart");
											if (x.style.display === "none") {
												x.style.display = "block";
											} else {
												x.style.display = "none";
											}
										}
									</script>
									
<!--------------------------혜민님 데이터 코드----------------------------------------------------------------------->
								<!--table-->

									<!---<hr class="major" />-->
								
									<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
									<script type="text/javascript">
									google.charts.load('current', {'packages':['table']});

									function drawTable() {
										var data = new google.visualization.DataTable();
										data.addColumn('string', 'Time');
										data.addColumn('number', 'Attention');
						
										
										<%for(var i = 0; i < rows.length; i++){%>
											data.addRow(['<%=rows[i].time.toDate().getTime()%>', {v: <%=rows[i].attendance%>}]);
										<%}%>
										

										var table = new google.visualization.Table(document.getElementById('table_div'));

										table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});

										var x = document.getElementById("table_div");
											if (x.style.display === "none") {
												x.style.display = "block";
											} else {
												x.style.display = "none";
											}
									}

									</script>
									
									<!--column-->
									<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
									<script type="text/javascript">
									
										google.charts.load('current', {packages: ['corechart', 'bar']});
										//google.charts.setOnLoadCallback(drawBasic);

										function drawBasic() {

										var data = new google.visualization.DataTable();
										data.addColumn('timeofday', 'Time of Day');
										data.addColumn('number', 'Attention Level');

										<%for(var i = 0; i < rows.length; i++){%>
											data.addRow([[<%=rows[i].time.toDate().getTime()%>, 0, 0], {v: <%=rows[i].attendance%>}]);
										<%}%>

										var options = {
											title: 'Attention Level Throughout the Class',
											hAxis: {
											title: 'Time of Class',
											format: 'h:mm a',
											
											},
											vAxis: {
											title: 'Rating (scale of 0-3)'
											}
										};

										var chart = new google.visualization.ColumnChart(
											document.getElementById('chart_div'));

										chart.draw(data, options);
										
											var x = document.getElementById("chart_div");
											if (x.style.display === "none") {
												x.style.display = "block";
											} else {
												x.style.display = "none";
											}
										}

										</script>
										<section>
											<div style="text-align: center;">
											<button   class="btn btn-danger navbar-btn " onclick="drawChart()">
												Toggle Graph Chart
											</button>
											
											<button style="margin-left: 10%;" class="btn btn-danger navbar-btn" onclick="drawTable()">
												Toggle Table Chart
											</button>
											
											<button style="margin-left: 10%;"class="btn btn-danger navbar-btn" onclick="drawBasic()">
												Toggle Column Chart
											</button>
										 </div>
										</section>
										<section>
											
											<div class = "chartwrap">
												<div id="curve_chart"></div>
											</div>
											<div id="table_div"></div>
											<div id="chart_div"></div>

										</section>
								</section>
											
										
								<!--막대형-->
									
					
							
						</div>
					</div>
								<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							
							<!-- Search -->
								<section id="search" class="alt">
									<!-- <form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form> -->
								</section>

								<!-- Menu -->
					<nav id="menu">
						<header class="major">
							<h2>Menu</h2>
						</header>
						<ul>
							<li>
								<a href="/index" type="submit" >Homepage</a>
							</li>
							<li>
								<form action="/element" id="element" name="element"  style="margin: auto; ">
									<a type="submit" onclick="ele_()">Make Class</a>
									<script>
										function ele_() {
											$('#element').submit();
										}
									</script>
								</form>
							</li>
							<li><a href="/total">After Class</a></li>
							<li>		
								<span class="opener">Statistics</span>		
								<ul>
									<li>		<!-- realtime 페이지는 가은. -->
										<form action="/realtime" id="realtime" name="realtime"  style="margin: auto;">
											<a type="submit" onclick="ele()">Real-Time</a>
											<script>
												function ele() {
													$('#realtime').submit();
												}
											</script>
										</form>
									</li>
									<li>
										<form action="/history" id="history" name="history"  style="margin: auto;">
											<a type="submit" onclick="his()">History</a> <!--ele를 바꿔야할 듯-->
											<script>
												function his() { 
													$('#history').submit();
												}
											</script>
										</form>
									</li>
									<li>
										<form action="/dailyreport" id="dailyreport" name="dailyreport"  style=" font-weight : bold; margin: auto;">
											<a type="submit" onclick="day()">Daily Report</a> <!--ele를 바꿔야할 듯-->
											<script>
												function day() { 
													$('#dailyreport').submit();
												}
											</script>
										</form>
									</li>
									<!--라우터?랑 연결하기--->
									<li>
										<form action="/byClass" id="byClass" name="byClass"  style="margin: auto;">
											<a type="submit" onclick="cla()">By Class</a> <!--ele를 바꿔야할 듯-->
											<script>
												function cla() { 
													$('#byClass').submit();
												}
											</script>
										</form>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
					<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; 2021PeopleSpace TeamB. BOOM?. 
							GitHub Source: <a href="https://github.com/s0ye0nyang/peoplespace-group-B">GitHub</a>. 
							Design: <a href="https://html5up.net">HTML5 UP</a>.
						</p>
					</footer>	

							

						</div>
					</div>
							
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
