<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Elements - BOOM by Group B</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="css/main.css" />
		

        <!--firebase, firestore 라이브러리-->>
		<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
	</head>
	<body class="is-preload">
		<!-- 집중도 평균값들로 뭐하지?....-->
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>BOOM</strong> by Group B</a>
									<dl>
										<h1>Daily Report</h1>
									</dl>
									
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

								

							<!-- Content -->
							<section>
								<header class="main">
									<div class="row">
										<div class="col-4 col-12-medium">
											<span class="image fit"><img src="images/png/013-certificate.png" alt="" /></span>
										</div>
										<div class="col-4 col-12-medium">
											<h3>Section</h3>
											<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit.</p>
										</div>
										<div class="col-4 col-12-medium">
											<h3>Date</h3>
											<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit.</p>
										</div>
									</div>
								
								
								<div class="row gtr-200">
									<div class="col-6 col-12-medium">
										<h4>Dailys of the Week</h4>
										<ul class="pagination">
											<li><span class="button">Prev</span></li>
											<li><a href="#" class="page active">MON</a></li>
											<li><a href="#" class="page">TUE</a></li>
											<li><a href="#" class="page">WED</a></li>
											<li><a href="#" class="page">THU</a></li>
											<li><a href="#" class="page">FRI</a></li>
											<li><a href="#" class="page">Weekly</a></li>
											<li><a href="#" class="button">Next</a></li>
										</ul>
										<div class="col-4 col-12-small">
											<input type="radio" id="demo-priority-low" name="demo-priority" checked>
											<label for="demo-priority-low">Low</label>
										</div>
										<div class="col-4 col-12-small">
											<input type="radio" id="demo-priority-normal" name="demo-priority">
											<label for="demo-priority-normal">Normal</label>
										</div>
										<div class="col-4 col-12-small">
											<input type="radio" id="demo-priority-high" name="demo-priority">
											<label for="demo-priority-high">High</label>
										</div>
									</div>
									<div class="col-6 col-12-medium">										
										<form method="post" action="#">
											<div class="row gtr-uniform">
												<!-- Break -->
												<div class="col-12">
													<select name="demo-category" id="demo-category">
														<option value="">- Category -</option>
														<option value="1">Manufacturing</option>
														<option value="1">Shipping</option>
														<option value="1">Administration</option>
														<option value="1">Human Resources</option>
													</select>
												</div>
												<!-- Break -->
												<div class="col-12">
													<input type="textfiled" id="Epilogue" />
													<button id="saveButton">Save</button>
													<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
												</div>
											</div>
										</form>
									</div>
								</div>
								</header>
							
								<!--표-->
								<!-- Content -->
								<h1 >Total Attention Gauge</h1>
								<h3>You can click the button to see the attention gauge history with charts!</h3>

		

								<!--그래프-->
									
									
			<!--------------------------혜민님 데이터 코드--
							
								--------------------------------------------------------------------->
								
									<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
									<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
									<script type="text/javascript">

										google.charts.load('current', {'packages':['corechart']});

										function drawChart() {

											var arr = [['Time', 'Attention']];
											var urlArr = [];

											<%for(var i = 0; i < rows.length; i++){%>
												var newarr = [];
												var idx_url = [];
												newarr.push(<%=rows[i].time.toDate().getTime()%>);
												newarr.push(<%=rows[i].attendance%>);
												arr.push(newarr);
											<%}%>

											var data = google.visualization.arrayToDataTable(arr);
											
											var options = {

												title: 'Attention Gauge',
												curveType: 'function',
												legend: { position: 'bottom' }
											};

											var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
											
											chart.draw(data, options);

											var x = document.getElementById("curve_chart");
											if (x.style.display === "none") {
												x.style.display = "block";
											} else {
												x.style.display = "none";
											}
										}
									</script>
									
<!--------------------------혜민님 데이터 코드----------------------------------------------------------------------->
								<!--table-->

									<!---<hr class="major" />-->
								
									<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
									<script type="text/javascript">
									google.charts.load('current', {'packages':['table']});

									function drawTable() {
										var data = new google.visualization.DataTable();
										data.addColumn('string', 'Time');
										data.addColumn('number', 'Attention');
						
										
										<%for(var i = 0; i < rows.length; i++){%>
											data.addRow(['<%=rows[i].time.toDate().getTime()%>', {v: <%=rows[i].attendance%>}]);
										<%}%>
										

										var table = new google.visualization.Table(document.getElementById('table_div'));

										table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});

										var x = document.getElementById("table_div");
											if (x.style.display === "none") {
												x.style.display = "block";
											} else {
												x.style.display = "none";
											}
									}

									</script>
									
									<!--column-->
									<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
									<script type="text/javascript">
									
										google.charts.load('current', {packages: ['corechart', 'bar']});
										//google.charts.setOnLoadCallback(drawBasic);

										function drawBasic() {

										var data = new google.visualization.DataTable();
										data.addColumn('timeofday', 'Time of Day');
										data.addColumn('number', 'Attention Level');

										<%for(var i = 0; i < rows.length; i++){%>
											data.addRow([[<%=rows[i].time.toDate().getTime()%>, 0, 0], {v: <%=rows[i].attendance%>}]);
										<%}%>

										var options = {
											title: 'Attention Level Throughout the Class',
											hAxis: {
											title: 'Time of Class',
											format: 'h:mm a',
											
											},
											vAxis: {
											title: 'Rating (scale of 0-3)'
											}
										};

										var chart = new google.visualization.ColumnChart(
											document.getElementById('chart_div'));

										chart.draw(data, options);
										
											var x = document.getElementById("chart_div");
											if (x.style.display === "none") {
												x.style.display = "block";
											} else {
												x.style.display = "none";
											}
										}

										</script>
										<section>
											<button  class="btn btn-danger navbar-btn " onclick="drawChart()">
												Toggle Graph Chart!
											</button>
											
											<button  class="btn btn-danger navbar-btn" onclick="drawTable()">
												Toggle Table Chart!
											</button>
											
											<button class="btn btn-danger navbar-btn" onclick="drawBasic()">
												Toggle Column Chart!
											</button>
										</section>
										<section>
											
											<div class = "chartwrap">
												<div id="curve_chart"></div>
											</div>
											<div id="table_div"></div>
											<div id="chart_div"></div>

										</section>
								</section>
											
										
								<!--막대형-->
									
					
							
						</div>
					</div>
								<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							
							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

								<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html">Homepage</a></li>
										<li><a href="generic.html">Generic</a></li>
										<li><a href="elements.html">Elements</a></li>
										<li>
											<span class="opener">Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Etiam Dolore</a></li>
										<li><a href="#">Adipiscing</a></li>
										<li>
											<span class="opener">Another Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Maximus Erat</a></li>
										<li><a href="#">Sapien Mauris</a></li>
										<li><a href="#">Amet Lacinia</a></li>
									</ul>
								</nav>

							

						</div>
					</div>
							
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
